/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: max(100%, 320px); */
}

html {
  font-family: "Lexend Zetta", sans-serif;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  background: url("images/background-desktop.jpg") no-repeat center fixed;
  background-size: cover;
}

section {
  margin: 2rem 0;
  padding: 2rem 0;
  width: 100%;
}

.hero-background {
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.082));
  height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  font-family: "Lexend Zetta", sans-serif;
  color: #c44ce2;
  font-weight: 800;
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #d7d7fa;
  padding: 1rem;
}

h3 {
  font-family: "Lexend Zetta", sans-serif;
  color: white;
  font-weight: 800;
  text-align: center;
  font-size: 1rem;
  margin: 0 !important;
}

h3:hover,
h3:focus {
  background: linear-gradient(to top, rgb(121, 0, 219), rgb(255, 134, 215));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 1rem;
  margin: 20px 0;
  /* width: 100%; */
}

.modal {
  text-align: center;
  padding: 3rem;
  margin: 2rem;
  color: white;
}

figure {
  padding: 1rem;
  margin: 1rem;
}

img {
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.411);
}

i {
  color: white;
  font-size: 4rem;
}

span {
  display: none;
}

span.is-visible {
  display: inline-block;
  line-height: 1.6em;
}

.nav-link:hover,
.nav-link:focus,
div.back-to-top:hover,
div.back-to-top:focus,
.modal-button:hover,
.modal-button:focus,
a.podcast:hover,
a.podcast:focus, 
i:hover,
i:focus {
  background: linear-gradient(to top, rgb(143, 9, 253), rgb(255, 134, 215));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.has-background-gradient {
  background: linear-gradient(to bottom, #8888e9, #c5c5f8);
  border-radius: 10px;
  padding: 2rem;
  margin: 1rem auto;
}

/* HEADER */
.header {
  height: 100vh;
  width: 100%;
}

/* Navbar menu */
.top-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background: linear-gradient(to top, #8686df, #d7d7fa);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: "Lexend Zetta", sans-serif;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

/* Burger */
.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, rgb(255, 134, 215), rgb(143, 9, 253));
  height: 6px;
  width: 100%;
  border-radius: 1rem;
}

.open .bar {
  transform: rotate(45deg) translateX(0.8rem);
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
  transform: rotate(-45deg) translateX(-0.65rem) translateY(2rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
  transform: rotate(-45deg) translateX(0.85rem);
}

/* Hero */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}

.hero h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 10rem;
  font-weight: bold;
  background: linear-gradient(to top, rgb(117, 0, 251), rgb(255, 0, 221));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem 0;
  user-select: none;
  margin: 1rem 0;
}

h1.surname {
  animation: move 3s infinite;
  width: 90%;
}

@keyframes move {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(20px);
  }
  100% {
    transform: translate(0);
  }
}

h1.name {
  animation: move-opposite 3s infinite;
  width: 90%;
}

@keyframes move-opposite {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-20px);
  }
  100% {
    transform: translate(0);
  }
}

.hero h5 {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 2rem;
  text-shadow: 1px 1px 1px white;
}

/* MAIN */
main {
  position: relative;
}

/* Back to top */
div.back-to-top {
  display: none;
  position: fixed;
  scroll-behavior: smooth;
  align-self: end;
  text-align: center;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 4rem;
  font-size: 3rem;
}

/* About Me */
.container.about {
  width: 70%;
}

.about-content {
  display: flex;
  flex-direction: row-reverse;
}

figure.profile-pic {
  width: 50%;
}

#profile-pic {
  border-radius: 100px;
}

.about-text {
  flex: 1;
  text-align: center;
  align-self: center;
  font-weight: bold;
  border-radius: 10px;
  color: black;
  padding: 1rem;
  margin: 1rem;
}

/* Skills */
.container.skills {
  padding: 1rem;
  width: 90%;
}

div.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

div.icon {
  flex-direction: column;
  padding: 3rem;
  margin: 1rem 1.5rem;
  text-align: center;
}

/* Projects */
section.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;
  margin: 1rem 0;
}

div.project {
  display: flex;
  margin: 1rem 0;
  padding: 2rem 0;
}

div.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

img.launch-icon {
  border: none !important;
  margin: 0.5rem auto 0;
}

.launch-icon#macman {
  height: 45px;
  width: 150px;
}

.launch-icon#devtru {
  height: 55px;
  width: 55px;
}

article.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

figure.hello-code,
img.hello-code {
  width: min(350px, 320px);
  align-self: center;
}

article.hellocode-aside { 
  justify-content: start;
  padding-top: min(20%, 50px);
}

/* Contacts */
nav.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a.contact-icon {
  padding: 1rem;
}

#twitter-contact {
  font-size: 3rem;
}

/* Footer */
footer {
  padding: 1rem;
  text-align: center;
}

small {
  font-size: 1rem;
  margin: 2rem;
}

/* Media query iPhone 5/SE and above */

@media screen and (max-width: 320px) {
  /* Global */
  body {
    height: 100%;
    width: 100%;
    background: url("images/background-mobile.jpg") no-repeat center fixed;
    background-size: cover;
  }

  section {
    width: 80%;
    margin: 1rem auto;
    padding: 10px;
  }

  div, article {
    padding: 0;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.5rem;
  }

  p {
    font-size: 12px;
  }

  .modal {
    padding: 1rem;
  }

  figure {
    padding: 10px;
    margin: 10px;
  }

  img {
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.411);
  }

  i {
    font-size: 2rem;
    background: linear-gradient(to top, rgb(143, 9, 253), rgb(255, 134, 215));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .has-background-gradient {
    padding: 10px;
    text-align: center;
  }

  figure.is-mobile-view {
    width: 100%;
    margin: 1rem auto;
  }

  /* Header */
  /* Navbar menu */
  .nav-list {
    flex-direction: column;
    font-size: 2rem;
    background: linear-gradient(to top, rgb(143, 9, 253), rgb(255, 134, 215));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Burger */
  .menu-toggler {
    top: 2rem;
    right: 1rem;
    width: 3rem;
    height: 2.5rem;
  }

  .open .bar.start {
    transform: rotate(-45deg) translateX(-0.2rem) translateY(1.65rem);
  }

  .open .bar.end {
    transform: rotate(-45deg) translateX(0.55rem) translateY(-0.25rem);
  }

  /* Hero */
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero h5 {
    font-size: 1rem;
  }

  /* About Me */
  .container.about {
    width: 80%;
  }

  .about-content {
    flex-direction: column-reverse;
    justify-content: center;
  }

  figure.profile-pic {
    width: 60%;
    margin: 1rem auto;
  }

  .modal-button {
    background: linear-gradient(to top, rgb(143, 9, 253), rgb(255, 134, 215));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Skills */
  section.skills {
    width: 100%;
    padding: 10px;
  }

  div.icons {
    width: 100%;
  }

  div.icon {
    padding: .5rem;
    margin-bottom: 1.5rem;
  }
  
  i {
    font-size: 1.5rem;
  }

  /* Projects */
  section.projects,
  div.container {
    width: 100%;
  }

  div.projects,
  div.project {
    margin: 10px 0;
  }

  div.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  div.tile {
    margin: 10px auto;
    padding: 0 10px;
  }

  p.title {
    font-size: 1rem;
    padding: 10px;
  }

  p.subtitle {
    font-size: 12px;
  }

  /* Project 1 */
  .tile.name-and-logo {
    order: 1;
  }

  .tile.summary-and-links {
    order: 2;
  }

  /* Project 2 */
  img.devtru-mobile {
    width: 250px;
  }

  /* Project 3 */
  img.nutrifix-mobile {
    width: 250px;
    height: 390px;
  }
  /* Project 4 */
  figure.hello-code,
  img.hello-code {
    width: 250px;
  }



  /* Contacts */
  a.contact-icon {
    padding: 10px;
  }

  #github-contact {
    font-size: 4rem;
  }
}

/* Media query Ipad Pro and below */
@media screen and (max-width: 1024px) {
  /* Global */
  body {
    height: 100%;
    width: 100%;
    background: url("images/background-mobile.jpg") no-repeat center fixed;
    background-size: cover;
  }
/* Header */
/* Navbar menu */
.nav-list {
  flex-direction: column;
  font-size: 2rem;
  background: linear-gradient(to top, rgb(143, 9, 253), rgb(255, 134, 215));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
}


