* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* NAVBAR */

/* Navbar menu */
.top-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: -100vh; 
  background: linear-gradient(to top,  #8686df, #d7d7fa);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}
.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to top, rgb(143, 9, 253), rgb(255, 134, 215));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

/* Burger */
.menu-toggler {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: linear-gradient(to right, rgb(255, 134, 215), rgb(143, 9, 253));
  height: 6px;
  width: 100%;
  border-radius: 1rem;
}

.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57); 
}

.open .bar.start {
  transform: rotate(-90deg) translateX(0.8rem);
}

.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57); 
}

.open .bar.end {
  transform: rotate(-90deg) translateX(-0.8rem);
}

.title {
  font-family: 'Codystar', cursive;
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
}

main {
  background-color: black;
  /* adjust the height once new content is added  */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Codystar', cursive;
  color: white;
  font-weight: 800;
  text-align: center;
}

.surname {
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translate(25px);
  }
  50% {
    transform: translate(50px);
  }
  100% {
    transform: translate(0);
  }
}

.name {
  animation: move-opposite 3s infinite;
}

@keyframes move-opposite {
  0% {
    transform: translate(-10px);
  }
  50% {
    transform: translate(-20px);
  }
  100% {
    transform: translate(0);
  }
}

p {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 12px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

#contacts {
  text-align: center;
}

h3 {
  font-family: "Lexend Zetta", sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: 600px) {
  .menu {
    display: block;
    text-align: center;
  }
  .title {
    text-align: center;
  }
  div {
    cursor: url(images/kissclipart-selection-and-cursors-icon-cursor-icon-89ded83465d60f8c.png),auto;
  }
}